select {
  @include bgimg('svg/icon-dropdown.svg')
  background-size: 20px;
  background-position: right 10px center;
  appearance: none;
  padding: .45em 2.5em .45em .75em;
  border: 0;
  border-radius: 0;
  outline: none;
  background-color: #000;
  color: #888;
  font-size: .8em;
  font-weight: font-weight(bold);
  cursor: pointer;

  &:focus,
  &:active {
    outline: none;
  }

  option {
    outline: none;
    font-size: 1em;
  }
}
