.featured-image {
  margin-bottom: 2em;
  position: relative;

  img {
    @extend %wrap;
    width: 100%;
    height: auto;
  }
}

.featured-image__caption {
  @extend %wrap;
  @extend %image-caption;
  max-width: 890px;
  padding: 1em 5em 1em 1em;
  text-align: left;
}
