.featured-image {
  margin-bottom: 2em;
  position: relative;
}

.featured-image__caption {
  @extend %wrap;
  text-align: left;
  max-width: 890px;
  padding: 1em 5em 1em 1em;
  color: #666;
  line-height: 140%;
  font-size: .9em;
}
