%image-caption {
  color: #666;
  line-height: 140%;
  font-size: 14px;
}


%aligned-images {
  img {
    margin-top: 0;
  }
}

.alignleft {
  @extend %aligned-images;
  float: left;
  margin: 0 30px 30px 0;
}

.alignright {
  @extend %aligned-images;
  float: right;
  margin: 0 0 30px 30px;
}
