.navbar {
  @extend %wrap;
  text-align: left;
  padding: 25px 30px;
  font-size: 1.2em;
  position: relative;
  // border-bottom: 1px solid #444;
  display: flex;
  justify-content: space-between;

  .button {
    background-color: #e32118;
    display: inline-block;
    padding: .2em .5em;
    color: #111;
    font-weight: font-weight(bold);
  }

  select {
    max-width: 100px;
    margin-left: 2em;
  }
}

.navbar__title {
  font-weight: font-weight(bold);
  color: #e32118;
  font-size: 1em;
  z-index: 2;

  .title {
    margin-right: .5em;

    @include media-below('md') {
      display: block;
    }
  }

  .description {
    color: #888;

    @include media-below('md') {
      display: none;
    }
  }
}

.navbar__title-link {
  color: color(primary);
}
