.pagination {
  // @include font-size(28px);
  font-size: 28px;
  display: flex;
  margin-bottom: 20px;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.pagination__link {
  @extend %button;
  box-sizing: border-box;
  display: block;
  flex-grow: 0;
  text-align: center;
  text-decoration: none;

  .text {
    display: none;

    @include media-above('md') {
      display: inline;
    }
  }

  .icon {
    position: relative;
    top: 3px;
  }
}
