%tag-links {
	display: block;
	margin-bottom: 0;

	li {
		display: inline-block;
		margin-bottom: 7px;
	}

	a:link,
	a:visited {
		border-radius: 2px;
		background-color: #ccc;
		border: 0;
		color: #fff;
		display: inline-block;
		padding: .4em 1em;
		text-decoration: none;
	}

	a:hover,
	a:active {
		color: #fff;
		// background-color: $color-primary;
		border: 0;
	}
}


.tags {
	font-size: 1.4em;
  padding: 2em 0 0 0;

  .label {
    display: none;
  }

  a:link,
  a:visited {
    transition: all, 0.2s;
    background-color: transparent;
    border: 1px solid #666;
    border-radius: 30px;
    color: #666;
    display: inline-block;
    // font-weight: $font-normal;
    margin: 0 .5em 5px 0;
		padding: .3em .8em;

    &:before {
      content: '#';
    }
  }

  a:hover {
    border: 1px solid #e32118;
    color: #e32118;
  }
}
