@function font-size($key) {
  @if map-has-key($font-sizes, $key) {
    @return map-get($font-sizes, $key);
  }

  @warn "Unknown `#{$key}` in $font-sizes.";
  @return null;
}

@function font-weight($key) {
  @if map-has-key($font-weights, $key) {
    @return map-get($font-weights, $key);
  }

  @warn "Unknown `#{$key}` in $font-weights.";
  @return null;
}



// The PX to REM mixin

@mixin font-size($px) {
  font-size: $px;
  font-size: ($px/$font-size-base) + rem;
}

@function pxtorem($px) {
  @return $px/$font-size-base;
}


// Optimize Text

@mixin optimize-text {
  text-rendering: optimizeLegibility;
  font-feature-settings: "kern";
  -webkit-font-feature-settings: "kern";
  -moz-font-feature-settings: "kern";
  -moz-font-feature-settings: "kern=1";
}
