// .widget {
//   margin-bottom: 40px;
// }

// Search form

.widget {
  @extend %content;

  .widget-title {
    margin-bottom: 20px;
  }

  .searchform {
    .screen-reader-text {
      @extend %hidden;
    }
    #s {
      padding: 12px 10px;
      position: relative;
      top: -1px;
    }
  }
}

.widget-banner {
  background-color: color(primary);
  font-size: 1.4em;
  color: #111;
  padding: 30px;
  font-weight: $font-weight-bold;
}
