$font-size-base: 24px;

$font-sizes: (
  h1:      42px,
  h2:      36px,
  h3:      28px,
  h4:      24px,
  h5:      24px,
  h6:      24px,
  regular: 24px,
  small:   19px,
  tiny:    14px,
  nano:    10px,
);

$font-weights: (
  regular: 400,
  bold: 900
);
